<!-- sidebar: style can be found in sidebar.less -->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="active"><a href="/Home/Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="/Purchase/List"><i class="fa fa-shopping-cart"></i> <span>Purchase</span></a></li>
            @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i> <span>Purchase</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/Purchase/List"><i class="fa fa-shopping-cart"></i> <span>Purchase List</span></a></li>
                        <li><a href="/Purchase/List?Type=2"><i class="fa fa-circle-o"></i> <span>Closed Purchase List</span></a></li>
                    </ul>
                </li>*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-briefcase"></i> <span>Sales</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Sales/List"><i class="fa fa-circle-o"></i> <span>Open Sales List</span></a></li>
                    <li><a href="/Sales/List"><i class="fa fa-circle-o"></i> <span>Closed Sales List</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dollar"></i> <span>Payment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Payment/List"><i class="fa fa-circle-o"></i> <span>Payment Voucher</span></a></li>
                    <li><a href="/PaymentReceipt/List"><i class="fa fa-circle-o"></i> <span>Payment Receipt</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dollar"></i> <span>General Transactions</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/AdvancePayment/List"><i class="fa fa-circle-o"></i> <span>Advance Payment</span></a></li>
                    <li><a href="/MiscExpenses/List"><i class="fa fa-circle-o"></i> <span>Miscellaneous Expenses</span></a></li>
                    <li><a href="/Common/CreditList"><i class="fa fa-circle-o"></i> <span>Credit Transactions</span></a></li>
                </ul>
            </li>
            <li><a href="/Common/DayCashBook"><i class="fa fa-th"></i> <span>Day Cash Book</span></a></li>
            <li><a href="/Common/TotalStockList"><i class="fa fa-laptop"></i> <span>Total Current Stock</span></a></li>
            <li><a href="/InHouse/List"><i class="fa fa-edit"></i> <span>In-House Transaction</span></a></li>
            <li><a href="" data-toggle="modal" data-target="#AddNewProduct"><i class="fa fa-plus"></i> <span>Add New Product</span></a></li>
            <li><a href="/Account/Logout"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
        </ul>
    </section>
</aside>

@using (Html.BeginForm("AddNewProduct", "Common", FormMethod.Post))
{
    <div class="modal fade bd-example-modal-lg" id="AddNewProduct">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create New Product</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label>Product Name</label>
                                <input type="text" id="Product" name="Product" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="submit" id="btnSaveProduct" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}